.detail-page {
  position: relative;
  min-height: 100vh;
}

.beer-detail {
  display: flex;
  min-height: 100vh;
  align-items: center;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }

  &__img {
    width: 50%;
    text-align: center;

    @media only screen and (max-width: 700px) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    width: 50%;
    height: 100vh;
    padding: 100px 50px 100px 100px;
    color: var(--main-color);
    background-color: var(--background-beer1);
    align-items: center;

    @media only screen and (max-width: 1000px) {
      padding: 80px 20px 80px 20px;
    }

    @media only screen and (max-width: 700px) {
      width: 100%;
      padding: 60px 20px 20px 20px;
    }
  }

  &__description-container {
    margin: 35px 0 50px;
  }

  &__info-container {
    margin: 35px 0 50px;
  }

  &__name {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;

    @media only screen and (max-width: 700px) {
      font-size: 40px;
    }
  }

  &__description-title {
    margin: 20px 0 15px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;

    @media only screen and (max-width: 700px) {
      font-size: 28px;
    }
  }

  &__info-title {
    margin: 20px 0 15px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;

    @media only screen and (max-width: 700px) {
      font-size: 28px;
    }
  }

  &__info {
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__info-q {
    width: 110px;
  }

  &__description-text {
    font-size: 20px;
  }

  p {
    margin: 5px 0 12px;
  }
}

.container.detail-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
