.container-checkout {
  background-image: url('/images/brewery_bg.jpg');
  width: 100%;
  background-size: cover;

  .title {
    color: var(--main-color);
    text-align: center;
    margin-top: 75px;
  }
}