.founder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  color: #fff;
  font-size: 18px;

  &__img {
    position: relative;
    width: 50%;
    overflow: hidden;

    @media only screen and (max-width: 1000px) {
      width: 100%;
      height: 50vh;
      background-position: center 20% !important;
    }
  }

  &__content {
    width: 50%;
    min-height: 100vh;
    background: url("/images/bg-founder.jpg");
    padding: 40px;

    @media only screen and (max-width: 1000px) {
      width: 100%;
      min-height: 50vh;
      height: auto;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &__others {
    position: absolute;
    top: 45%;
    bottom: 0;
    right: 0;
  }

  &__next {
    background: #0c0c0c;
    padding: 3px 10px;

    &:before {
      content: 'NEXT';
      position: absolute;
      width: 100%;
      transform: translate(-64px, 0px);
      color: white;
      background: #0c0c0c;
      padding: 3px;
      height: 37px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
      opacity: 0;
    }

    &:hover:before {
      opacity: 1;
      transition: .3s;
    }
  }

  &__prev {
    background: #0c0c0c;
    padding: 3px 10px;
    transform: rotate(180deg);

    &:before {
      content: 'PREV';
      position: absolute;
      width: 100%;
      // transform: translate(-64px, 0px);
      color: white;
      background: #0c0c0c;
      padding: 3px;
      height: 37px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
      opacity: 0;
      transform: rotate(180deg) translate(-38px, 0px);
    }

    &:hover:before {
      opacity: 1;
      transition: .3s;
    }
  }

}