.container-thank {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;

  h1 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}