.container-wt {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  @media only screen and (max-width: 700px) {
    flex-wrap: wrap;
  }

  a {
    color: #fff;
  }
}

.wt-iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 700px) {
    width: 90%;
  }
}

.wt-ambassadors {
  position: relative;
  width: 100%;
  background: url("/images/bg-dark.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  

  &:hover p{
    opacity: 1;
    transition: .3s;
  }
  
  p {
    font-size: 14px;
    position: absolute;
    top: 0;
    bottom: -80px;
    margin: auto;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: .3s;
  }
}

.wt-team {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/bg-team.jpg");

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

.wt-blog {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/bg-blog.jpg");

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

.iframe {
    border: 2px solid #fff;
    box-shadow: 0px 0px 4px 0px;
    width: 640px;
    height: 360px;

    @media only screen and (max-width: 660px) {
      border: 0 !important;
      box-shadow: none;
    }
  }