.cart {
  position: fixed;
  top: 15px;
  right: 30px;
  display: flex;
  flex-wrap: wrap;  
  width: auto;
  align-items: flex-end;
  max-width: 130px;

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media only screen and (max-width: 700px) {
    top: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    background: var(--background-color);
  }

  &__info {
    font-size: 12px;
    font-weight: 900;
    text-transform: capitalize;
  }

  &__checkout {
    width: 100%;
    text-align: center;
    margin-top: 5px;

    a {
      background-color:var(--black-color);
      color: var(--main-color);
      padding: 2px;
      width: 100%;
    }
  }

  &__info-packs {
    position: absolute;
    bottom: -20px;
    font-size: 14px;
    font-weight: 900;
    color: var(--brown-color);
  }

  &__max {
    color: var(--brown-color);
  }
}
