.form {
  background: darkcyan;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: auto;
  color: var(--main-color);
  text-align: left;
  background: transparent;
  border: 5px solid black;
  max-width: 470px;

  .contact & {
    border: 0;
  }

  .row {
    margin-bottom: 20px;

    @media only screen and (max-width: 1000px) {
      margin-bottom: 0;
    }
  }

  label {
    margin-bottom: 5px;

    @media only screen and (max-width: 1000px) {
      display: none;
    }

    span {
      margin-left: 5px;
      font-size: 10px;
    }
  }

  input {
    display: block;
    padding: 10px 12px;
    margin: 8px 0 15px;
    color: var(--main-color);
    background: transparent;
    border: 2px solid black;

    @media only screen and (max-width: 1000px) {
      padding: 10px;
      margin: 6px 0 10px;
    }
  }

  &__text {
    font-size: 12px;
  }

  &__info-req {
    color: var(--background-beer1);
    margin: 14px 0 19px;
  }

  h6 {
    margin-bottom: 10px;
  }

  .StripeElement {
    margin-bottom: 6px;
  }

  button {
    padding: 10px 15px;
    margin: 25px 0 30px;
    font-family: Lato;
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
    cursor: pointer;
    background-color: black;
    border: 0;

    @media only screen and (max-width: 1000px) {
      margin: 5px 0 15px;
    }
  }

  @media only screen and (max-width: 1000px) {

    h2 {
      margin: 0;
      font-size: 22px;
    }
  }
}

.contact {

  .form {
    position: initial;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  input {
    width: 48%;
    color: var(--main-color);
    background: transparent;
    border: 2px solid black;
    border-radius: 0;
    box-shadow: none;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--main-color);
    }
  }

  textarea {
    display: block;
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-bottom: 15px;
    font-family: Lato;
    color: var(--main-color);
    background: transparent;
    border: 2px solid black;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--main-color);
    }
  }

  button {
    color: var(--main-color);
    background-color: black;
    border: 2px solid black;
    border-radius: 0;
  }

 

}
