.head-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
  background-size: cover;
  background-position-y: center;

  @media only screen and (max-width: 1200px) {
    height: 60vh;
  }

  @media only screen and (max-width: 700px) {
    height: 40vh;
  }
  
  .container-blog & {
    background-image: url(/images/bg-blog.jpg);
  }

  h1 {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 800;
  }

  h3 {
    font-weight: 600;
    letter-spacing: 8px;
  }
}