.post {
  position: relative;

  &__content {
    max-width: 720px;
    padding: 40px 60px;
    margin: auto;

    @media only screen and (max-width: 600px) {
      padding: 40px 20px;
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: 600;
  }

  &__text {
    font-size: 20px;
    line-height: 1.35;
    padding-bottom: 20px;
    margin-bottom: 25px;
  }

  &__prev-next-container {
    padding: 0 60px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
    text-transform: uppercase;

    @media only screen and (max-width: 700px) {
      padding: 0 20px;
    }
  }

  .inactive {
    pointer-events: none;
    opacity: .3;
  }
}